
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
              <a href="" class="navbar-brand p-0">
                  <h1 class="Restoran m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
                  <!-- <img src="img/logo.png" alt="Logo"> -->
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="fa fa-bars"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav ms-auto py-0 pe-4">
                      <a class="nav-item nav-link active" [routerLink]="['']">Home</a>
                      <a class="nav-item nav-link" [routerLink]="['/about']">About</a>
                      <a class="nav-item nav-link">Service</a>
                      <a class="nav-item nav-link" [routerLink]="['/Menu']">Menu</a>
                      <div class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                          <div class="dropdown-menu m-0">
                              <a  class="dropdown-item">Booking</a>
                              <a  class="dropdown-item">Our Team</a>
                              <a  class="dropdown-item">Testimonial</a>
                          </div>
                      </div>
                      <a  class="nav-item nav-link" [routerLink]="['/contact']">Contact</a>
                  </div>

                <a class="btn btn-warning animated py-2 px-4"*ngIf="!checklog()"[routerLink]="['/login']"><i class="bi bi-box-arrow-in-right"></i> login</a>
                <div *ngIf="checklog()" class="py-2">
                  <strong class="Name"><i class="bi bi-person-circle"> {{username()}}</i></strong>&nbsp;
                <a class="btn btn-warning animated py-2 px-4" (click)="logout()"><i class="bi bi-box-arrow-in-left"></i> logout</a>
              </div>
            </div>

          </nav>


      </div>
      <!-- Navbar & Hero End -->



